body {
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
background: linear-gradient(to right, #ffecd2, #fcb69f);
text-align: center;
padding: 40px;
margin: 0;  
}

#quiz-container {
  background: #ffffffcc;
  padding: 30px;
  border-radius: 20px;
  width: 90%;
  max-width: 600px;
  margin: 10px auto 0 auto;
  box-shadow: 0 8px 20px rgba(0, 0 , 0 , 0.2)

}

#questions {
font-size: 24px;
margin-bottom: 25px;
color: #333;

}

#answers {
display: flex;
flex-direction: column;
align-items: stretch;
gap: 16px;
margin-top: 20px;

}

#answers button {
  width: 100%;
  padding: 16px 20px;
  font-size: 18px;
  text-align: left;
  border: 2px solid #cdb4db; 
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.2s ease;
  background-color: #fff;
  color: #6d597a;
box-sizing: border-box;
}

#answers button:hover {
background-color: #ff8fa3;
transform: scale(1.05);

}

#answers button:active {
transform: scale(0.98);

}

#next-btn {
  margin-top: 20px;
padding: 12px 25px;
font-size: 16px;
background-color: #89c2d9 ;
color: #fff;
border: none;
border-radius: 8px;
cursor: pointer;
display: none;
transition: background-color 0.3s ease;

}

#next-btn:hover {
background-color: #61a5c2;
}

#logo {
  display: block;
  margin: 0 auto 20px auto;
  max-width: 280px;
  height: auto;
  border-radius: 50%; /* deixa a imagem redonda */
  box-shadow: none;    /* remove a sombra */
}

.result-message {
  background-color: #ffe5ec;
  color: #6a4c93;
  border: 2px solid #f8bbd0;
  border-radius: 12px;
  padding: 20px;
  margin-top: 30px;
  font-size: 20px;
  font-weight: bold;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.6s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
